.amplify-button--primary {
	background: #3c5c47 !important;
}

.amplify-button--primary:hover {
	background: gray !important;
}

.amplify-button--link {
	color: #3c5c47 !important;
	background-color: lightgray !important;
}

.amplify-tabs__item {
	color: #3c5c47 !important;
}

.map {
	height: 700px;
}

@media (max-width: 750px) {
	.map {
		height: 220px;
	}
}
