.amplify-button--primary {
  font-size: 2rem;
  padding: 1rem 2rem;
  background: #3c5c47 !important;
  border: 2px solid black;
}

.amplify-button--primary:hover {
  background: gray !important;
}

.amplify-button--link {
  color: #3c5c47 !important;
}

.amplify-tabs__item {
  color: #3c5c47 !important;
}